RAY_IMAGE=rayproject/ray:2.53.0-py311

RAY_HEAD_PORT=6379
RAY_CLIENT_PORT=20001
RAY_DASHBOARD_PORT=8265

RAY_HEAD_CPUS=0
RAY_HEAD_OBJECT_STORE_MEMORY=134217728
RAY_HEAD_SHM_SIZE=1gb

RAY_WORKER_CPUS=4
RAY_WORKER_OBJECT_STORE_MEMORY=1073741824
RAY_WORKER_SHM_SIZE=2gb

WORKER_REPLICAS=1

